<div class="progress-bar-small">
    <div class="progress-bar-small-heading">{{actualNumber}} Signatures</div>
    <div class="progress-bar-small-desc">Help us get to {{GOAL_NUMBER}}</div>
    <div class="progress-bar-small-bar"><div
            class="progress-bar-small-progress"
        >{{percentage}}%</div></div>
</div>