<div class="progress-bar-small">
    <div class="progress-bar-small-heading">{{actualNumber}} Signatures</div>
    <div class="progress-bar-small-desc">Help us get to {{GOAL_NUMBER}}</div>
    <div class="progress-bar-small-bar progress-bar-outer"><div
            class="progress-bar-small-progress progress-bar-inner"
        >{{percentage}}%</div></div>
</div>
<script src="/progress-bar-script.js"></script>