<div class="progress">
    <div class="progress-label">
        <strong>856</strong>
        of
        <strong>1050 Signatures</strong>
    </div>
    <div class="progress-bar">
        <div class="progress-current">
            <div class="progress-text">
                86%
            </div>
        </div>
    </div>
</div>