<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Petition</title>
    </head>
    <body>
        <header>
            {{#if loggedOut}}{{else}}
                <a href="/logout">Logout</a>
            {{/if}}
        </header>
        {{#if isForm}}
            <div class="form-wrapper">
                <div class="form-inner-wrap">
                    <div class="register-description">
                        <p>What do we want? Everything! When do we want it? Now!</p>
                        <ul>
                            <li>More energy!</li>
                            <li>More Gute Laune!</li>
                            <li>Less boredom!</li>
                        </ul>
                    </div>
                    {{{body}}}
                </div>
            </div>
        {{else}}
            {{{body}}}
        {{/if}}
        <footer>
            &copy; 2021 Cool Industries, Inc.
        </footer>
    </body>
</html>