<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>MAKE THEM LISTEN! {{#if title}}- {{title}}{{/if}}</title>
    </head>
    <body>
        <header>
            {{#if loggedOut}}{{else}}
                <div class="logo"><a href="/"><img
                            src="/img/logo.png"
                        /></a></div>
                <div>
                    <a href="/profile/edit">Edit Profile</a>
                    |
                    <a href="/logout" class="logout-link">Logout</a>
                </div>
            {{/if}}
        </header>
        <div class="content-wrapper">
            <div class="content-inner-wrap">
                {{{body}}}
            </div>
        </div>
        {{! <footer>
            &copy; 2021 MTL Foundation | Background Photo by
            <a href="https://unsplash.com/@clemono">Clem Onojeghuo</a>
            on
            <a href="https://unsplash.com/">Unsplash</a>

        </footer> }}
    </body>
</html>