<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>MAKE THEM LISTEN! {{#if title}}- {{title}}{{/if}}</title>
    </head>
    <body>
        <header>
            <a href="/"><div class="logo"><div class="logo-dot"></div>
                    <div class="logo-text">savenly</div></div></a>
            {{#if loggedOut}}{{else}}
                <div>
                    <a href="/profile/edit">Edit Profile</a>
                    |
                    <a href="/logout" class="logout-link">Logout</a>
                </div>
            {{/if}}
        </header>
        <div class="content-wrapper">
            <div class="content-inner-wrap">
                {{{body}}}
            </div>
        </div>
    </body>
</html>