<h1>Stop the assault on the <strong>Amazon</strong> rainforest!</h1>
<div class="text-description">
    <p>The Amazon rainforest is in grave danger: Brazil's President Bolsonaro is
        pushing to scrap environmental legislation and clear ever more
        rainforest for soy monocultures, cattle, hydropower and mining. Tell the
        Brazilian government to get its priorities right.</p>
</div>
<div class="progress-bar-big">
    <div class="progress-bar-big-heading">
        <strong>{{actualNumber}}</strong>
        of
        <strong>{{GOAL_NUMBER}} Signatures</strong>
    </div>
    <div class="progress-bar-big-bar progress-bar-outer">
        <div class="progress-bar-big-progress progress-bar-inner">
            {{percentage}}%
        </div>
    </div>
</div>
<div><a href="/register"><button class="button-cta sign-button">Sign Petition</button></a></div>
<div class="option-login">Already signed?
    <a href="/login"><strong>Log in here.</strong></a></div>

<script src="/progress-bar-script.js"></script>