<h1>Stop the assault on the <strong>Amazon</strong> rainforest!</h1>
<div class="text-description">
    <p>This is a paragraph of normal text, with
        <em>emphasized text</em>
        and
        <strong>strong text</strong></p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.</p>
</div>
<div class="progress-bar-big">
    <div class="progress-bar-big-heading">
        <strong>856</strong>
        of
        <strong>1050 Signatures</strong>
    </div>
    <div class="progress-bar-big-bar">
        <div class="progress-bar-big-progress">
            86%
        </div>
    </div>
</div>
<a href="/register"><div class="button-cta"><div>Sign Petition</div></div></a>
<div class="option-login">Already signed?
    <a href="/login"><strong>Log in here.</strong></a></div>