<form action="" method="post" id="petition-form" class="auth-form">
    <input type="hidden" name="signature" id="signature" required /><br />
    <p>Sign in this field:</p>
    <canvas id="canv" width="500" height="250"></canvas>
    <button type="submit">Sign Petition</button>
</form>
{{#if addSignatureError}}<h2>Uh oh, there was a problem, please try again...</h2>{{/if}}

<script src="script.js"></script>