<div class="petition-wrapper">
    <div class="petition-inner-wrap">
        <div class="petition-description">
            <p>What do we want? Everything! When do we want it? Now!</p>
            <ul>
                <li>More energy!</li>
                <li>More Gute Laune!</li>
                <li>Less boredom!</li>
            </ul>
        </div>
        <form action="" method="post" id="petition-form">
            <input type="hidden" name="signature" id="signature" required /><br
            />
            <p>Sign in this field:</p>
            <canvas id="canv" width="500" height="250"></canvas>
            <button type="submit">Sign Petition</button>
        </form>
        {{#if addSignatureError}}<h2>Uh oh, there was a problem, please try
                again...</h2>{{/if}}
    </div>

</div>

<script src="script.js"></script>