<div class="form-description">
    <h1>Make Them Listen!</h1>
    <p>Thousands and thousands of petitions get signed every day, millions every
        year and yet nothing seems to be changing.</p>
    <p>Politicians, businesses, and other authority figures...
        <strong>they just don't seem to listen!</strong></p>
    <p>It is time to take action!</p>
    <p><strong>Sign our petition to make them listen to our petitions!</strong></p>
    <p>Register here to make your voice heard:</p>
</div>
<form action="" method="post" id="register-form" class="auth-form">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" required /><br />
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" required /><br />
    <label for="email">Email Address</label>
    <input type="email" name="email" id="email" required /><br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required /><br />
    <button type="submit">Register Account</button>
</form>
<p>Already registered? <a href="/login">Log in here!</a></p>
{{#if registrationError}}<h2>Uh oh, there was a problem, please try again...</h2>{{/if}}