<h1>THANKS FOR BEING A CHAMP MATEY</h1>
<p>
    Check out who else has
    <a href="/signers">signed the petition</a>
</p>
<p><a href="/profile/edit">Edit your profile</a></p>
{{#if signature}}<img src="{{signature}}" />{{/if}}

{{#if numberOfSignatures}}
    <p>Total number of signatures: {{numberOfSignatures}}</p>
{{/if}}