<div class="content-display signers-container">
    <h1>🎉 Thanks for signing this petition!</h1>
    <div>
        Check out who else has
        <a href="/signers">signed the petition</a>
    </div>
    {{#if signature}}<img src="{{signature}}" class="signature-img" />{{/if}}

    {{#if numberOfSignatures}}
        <div>Total number of signatures: {{numberOfSignatures}}</div>
    {{/if}}
</div>