* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/bg-01-big.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
}

header div {
    padding: 20px;
    font-size: 1.5em;
}

header a {
    margin: 0em 1.2em;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0px;
}

.content-inner-wrap {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.form-description {
    width: 70%;
    align-self: center;
    font-size: 1.2em;
}

.form-description p {
    margin: 10px;
}

.auth-form {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form input {
    width: 50%;
    border-radius: 5px;
    font-size: 1.3em;
    height: 2em;
    margin: 10px 10px;
    padding: 5px 10px;
    align-self: center;
}

.auth-form button {
    margin-top: 20px;
    height: 2em;
    width: 50%;
    font-size: 2em;
    align-self: center;
}

.auth-form button[type="submit"] {
    background-color: rgba(4, 212, 38, 1);
    cursor: pointer;
    border-radius: 10px;
}

.auth-form button[type="submit"]:hover {
    background-color: rgba(4, 212, 38, 0.8);
}

.delete-form button {
    margin-top: 20px;
    height: 1.7em;
    width: 30%;
    font-size: 1.2em;
    align-self: center;
}

.delete-form button[type="submit"] {
    background-color: rgb(230, 7, 7);
    cursor: pointer;
    border-radius: 10px;
}

.delete-form button[type="submit"]:hover {
    background-color: rgba(230, 7, 7, 0.8);
}

canvas {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 20px 0;
    width: 500px;
    height: 250px;
    align-self: center;
}

.signature-img {
    max-width: 500px;
    max-height: 250px;
    align-self: center;
}

footer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 30px;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
}
